<footer>
	<div class="container">
	    <div class="row justify_center">
	    	<div class="col-auto"><img src="/2019/images/quratedfashionshow2020/logo_cmdw20-1@2x.png" /></div>
	    	<div class="col-auto"><img src="/2019/images/quratedfashionshow2020/ditp_logo@2x.png" /></div>
	    	<div class="col-auto"><img src="/2019/images/quratedfashionshow2020/logo_q@2x.png" /></div>
	    	<div class="col-auto"><img src="/2019/images/quratedfashionshow2020/logo_cmdw20@2x.png" /></div>
	    </div>
	    <div class="row justify_center">
	    	<div class="col-auto"><p>© 2021 Quratedfashion.com</p></div>
	    </div>
	</div>
</footer>