<a id="top_btn" href="#top">↑</a>
<div id="menu">
    <div class="container-fluid">
        <div class="col-12 right">
            <a class="close" href="#close">CLOSE</a>
        </div>
        <div class="scrollbar-inner">
            <div class="col-12 logo">
                <img src="/2019/images/logo.png">
            </div>
            <div class="col-12 list">
                <div class="container">
                    <p>MENU</p>
                    <ul class="main_menu">
                        <li><a href="/">HOME</a></li>
                        <li><a href="/q_project.html">Q PROJECT</a></li>
                        <li>
                            <a href="javascript:;" data-sub-class="sub_menu_1_1">Q PORTFOLIO</a>
                            <ul class="sub_menu_1_1">
                                <li><a href="/q_portfolio_all.html">All Portfolio</a></li>
                                <li><a href="/q_portfolio_natural_standard.html">Natural Standard</a></li>
                                <li><a href="/q_portfolio_maverick_youths.html">Maverick Youths</a></li>
                                <li><a href="/q_portfolio_subjective_matters.html">Subjective Matters</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" data-sub-class="sub_menu_1_2">Q TREND</a>
                            <ul class="sub_menu_1_2">
                                <li><a href="/q_trend_all.html">Lucid Envision 2020</a></li>
                                <li><a href="/q_trend_natural_standard.html">Natural Standard</a></li>
                                <li><a href="/q_trend_maverick_youths.html">Maverick Youths</a></li>
                                <li><a href="/q_trend_subjective_matters.html">Subjective Matters</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" data-sub-class="sub_menu_1_3">Q FASHION MARK</a>
                            <ul class="sub_menu_1_3">
                                <li><a href="/q_fashion_mark.html">All Award</a></li>
                                <li><a href="/brand.html?b=marayat">Best Branding Award</a></li>
                                <li><a href="/brand.html?b=zabede">Best Fashion Collection Award</a></li>
                                <li><a href="/brand.html?b=artty-brand">Best Leather Goods Award</a></li>
                                <li><a href="/brand.html?b=ador-n-adorn-ana">Best Accessories Collection Award</a></li>
                                <li><a href="/brand.html?b=boontham">Best Material Development Award</a></li>
                                <li><a href="/best_design_collaboration_award.html">Best Design Collaboration Award</a></li>
                                <li><a href="javascript:;">Supreme Fashion Curator Award</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" data-sub-class="sub_menu_1_4">Q DIRECTORY</a>
                            <ul class="sub_menu_1_4">
                                <li><a href="/q_directory_all.html">All Directory</a></li>
                                <li><a href="/q_directory_central_thailand.html">Central Thailand</a></li>
                                <li><a href="/q_directory_northern_thailand.html">Northern Thailand</a></li>
                                <li><a href="/q_directory_northeastern_thailand.html">Northeastern Thailand</a></li>
                                <li><a href="/q_directory_southern_thailand.html">Southern Thailand</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" data-sub-class="sub_menu_1_5">Q ACTIVITY</a>
                            <ul class="sub_menu_1_5">
                                <li><a href="/quratedfashionshow2020">Qurated Fashion Show Chiangmai</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a href="javascript:;">Quratedfashion 2018</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="search">
    <div class="container">
        <div class="col-12 right">
            <a class="close" href="#close">x</a>
        </div>
        <div class="col-12 search">
            <script>
              (function() {
                var cx = '001767855098516052244:jpxje70utyy';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
              })();
            </script>
            <gcse:search></gcse:search>
        </div>
    </div>
</div>
<nav>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-2">
                <a href="/index.html"><img src="/2019/images/logo.png" class="logo"></a>
            </div>
            <div class="col-8 center">
                <img src="/2019/images/quratedfashionshow2020/logo_q_fashion_top_menu@2x.png" class="logo2">
            </div>
            <div class="col-2">
                <div class="row center right_bar right">
                    <div>
                        <a href="#menu">
                            <p>
                                <span></span>
                                <span></span>
                                <span></span>
                            </p>
                        </a>
                    </div>
<!--
                    <div><a href="#search"><img src="/images/search_icon.png"></a></div>
                    <div>
                        <a href="https://www.ditp.go.th/" target="_blank"><img src="/images/ditp.png"></a>
                    </div>
-->
                </div>
            </div>
        </div>
    </div>
</nav>
<script type="text/javascript" src="/2019/module/js/header.js"></script>