<div id="menu_portfolio">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="q_directory_all.html">All</a>
            </div>
            <div class="col">
                <a href="q_directory_central_thailand.html">Central Thailand</a>
            </div>
            <div class="col">
                <a href="q_directory_northern_thailand.html">Northern Thailand</a>
            </div>
            <div class="col">
                <a href="q_directory_northeastern_thailand.html">Northeastern Thailand</a>
            </div>
            <div class="col">
                <a href="q_directory_southern_thailand.html">Southern Thailand</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="module/js/menu_directory.js"></script>