<div id="menu_trend">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="q_trend_all.html">All</a>
            </div>
            <div class="col-3">
                <a href="q_trend_natural_standard.html">Natural Standard</a>
            </div>
            <div class="col-3">
                <a href="q_trend_maverick_youths.html">Maverick Youths</a>
            </div>
            <div class="col-3">
                <a href="q_trend_subjective_matters.html">Subjective Matters</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="module/js/menu_trend.js"></script>